<div>
    <form (ngSubmit)="onAddTask()">
        <label for='title'>
            <input [(ngModel)]="task.title" type="text" id='title' name="title">
        </label>
        <label for='description'>
            <input [(ngModel)]="task.description" type="text" id='description' name="description">
        </label>
        <button type="submit">Adicionar</button>

    </form>
    <h3>{{task.title}}</h3>
    <p>{{task.description}}</p>
</div>
<h2>This is what you have to do:</h2>
<div class='container'>
    <ul class='list'>
        <li class='list__item' *ngFor="let task of tasks | async" (click)="onSelect(task)">
            <div>
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
                <div *ngIf="editMode">
                    <input [(ngModel)]="task.title">
                    <input [(ngModel)]="task.description">
                    <button (click)="onSubmitEdit(task)" class='list__btn'>Ok</button>
                </div>

                <button class='list__btn list__btn--delete' (click)="onDelete(task)">Apagar</button>
                <button class='list__btn list__btn--edit' (click)="onEdit(task)">Editar</button>
                <button class='list__btn ' (click)="onDelete(task)">apagar</button>
            </div>
        </li>
    </ul>
</div>